@media (min-width: 1000px) {
  .menu-container {
    display: none;
  }
  .container {
    display: block;
  }
  .image-slider {
    height: 350px;
  }
  .input-div {
    width: 50%;
  }
}
@media (min-width: 600px) {
  .image-slider {
    height: 200px;
  }
}
@media (min-width: 800px) {
  .image-slider {
    height: 250px;
  }
}
@media (min-width: 540px) {
  .item-buttons {
    display: flex;
  }
}
@media (max-width: 1200px) {
  .right-nav {
    width: 85%;
  }
}
